<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.linkedin.com/in/emiliano-mesquita/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/mezka" target="_blank"><i class="fa fa-github-alt"></i></a>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="thanks">{{site.data.translations.footer.thanksForVisiting[page.lang]}}</span>
            </div>
        </div>
    </div>
</footer>