<header class="header-background-ducks">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{ site.author.name | append: ' ' |  append: site.author.surname }}</div>
            <div class="intro-lead-in">{{ site.data.translations.jobTitle[page.lang] }}</div>
        </div>
        <div class="intro-language"><a href="{{ site.data.translations.header.link[page.lang] }}">{{ site.data.translations.header.differentLanguage[page.lang]}}</a></div>
    </div>
</header>