{%- if site.default_lang == site.active_lang -%}
    {%- assign prepended_url = "" -%}
{%- else -%}
    {%- assign prepended_url = "/" | append:  site.active_lang  %}
{%- endif -%}

<nav id="internationalNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">Emiliano Mesquita</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/blog">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href=" {{ prepended_url | append: '/#resume' }}">Curriculum Vitae</a>
                </li>
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href=" {{ prepended_url | append: '/#portfolio' }}">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href=" {{ prepended_url | append: '/#skills' }}">{{ site.data.translations.navbar.skillsLink[page.lang]}}</a>
                </li>
                <li>
                    <a class="page-scroll" href=" {{ prepended_url | append: '/#contact' }}">{{ site.data.translations.navbar.contactLink[page.lang]}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>