---
layout: unrelativized_page
---

{% include header_blog.html %}

<div class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="blog-post bg-warning blogpost-margin-y col-xs-12 col-sm-offset-1 col-sm-10">
                <h2 class="blog-post-title">
                    {{ page.title }}
                </h2>
                <p class="blog-post-meta">
                    {{ page.date | date: "%D" }} by {{ site.author.name }} {{site.author.surname}}
                </p>
                <hr>
                <p>
                    {{ content }}
                </p>
                <hr>
                <a class="go-back-link" href="/blog">Go back</a>
            </div>
        </div>
    </div>
</div>

